
.icon-check-empty:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */