<form class="NewTask" ng-submit="vm.add()">

  <div class="NewTask-agent" ng-style="{ 'background-image': 'url(' + vm.avatar_url + ')' }">
    <!--<select class="CustomSelect-control" ng-model="vm.selected_agent" ng-options="agent.name for agent in vm.agents"></select>-->
    <agent-picker agent_id="vm.task.agent_id" on-change="vm.on_agent_changed(agent)"></agent-picker>
  </div>

  <div class="NewTask-name">
    <input type="text" ng-model="vm.task.name" placeholder="Task name..." tabindex="1">
  </div>

  <div class="NewTask-duration">
    <task-duration-picker task="vm.task"></task-duration-picker>
  </div>

</form>