.env
.DS_Store
.idea
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitkeep
/backend/vendor
/backend/storage/*
!/backend/storage/.gitkeep
/backend/temp
/bower_components
/node_modules
/public/build
!/public/build/.gitkeep
/public/storage
/_release/*
!/_release/.gitkeep
/temp
/vendor
Homestead.yaml
Homestead.json
