<div class="UserPicker" mass-autocomplete>
  <input class="UserPicker-input" ng-attr-placeholder="{{ vm.placeholder }}" ng-model="vm.dirty" mass-autocomplete-item="vm.autocomplete_options">
  <!--<div class="UserPicker-tags">-->
    <!--<span class="UserPicker-tag" ng-repeat="user in vm.selected" ng-style="{ 'background-image': 'url(' + user.avatar_url + ')' }">-->
      <!--{{ user.abbreviation }}-->
      <!--<span class="UserPicker-remove" ng-click="vm.remove_user(user)"><i class="icon-cancel"></i></span>-->
    <!--</span>-->
  <!--</div>-->
</div>