@Nav-height: 64px;

body {
  padding-top: @Nav-height;
}

.Nav {
  position:         fixed;
  z-index:          100;
  top:              0;
  left:             0;
  display:          flex;
  align-items:      center;
  height:           @Nav-height;
  width:            100%;
  background-color: #47a6ff;
  background-color: #78a300; // Zendesk
  background-color: #3f7e7a; // Wunderlist
  background-color: #2a6c88; // Wunderlist
  //background-color: tomato; // Project overdue
}

.Nav-button {
  display: inline-block;
  padding: 10px 20px;
  color:   #fff;
  cursor:  pointer;
}

.Nav-actions {
  display:         flex;
  flex-grow:       1;
  justify-content: flex-end;
}

.Nav-button--icon {
  font-size: 24px;
}