@charset "UTF-8";
//
// Variables
//
@import "../../bower_components/cardinal/base/variables";
//
// Mixins
//
@import "../../bower_components/cardinal/base/mixins/antialiasing";
@import "../../bower_components/cardinal/base/mixins/clearing";
@import "../../bower_components/cardinal/base/mixins/momentum-scrolling";
@import "../../bower_components/cardinal/base/mixins/text-truncate";
@import "../../bower_components/cardinal/base/mixins/to-rem";
@import "../../bower_components/cardinal/base/mixins/vertically-centered";
//
// Reset
//
@import "../../bower_components/cardinal/base/normalize";
@import "../../bower_components/cardinal/base/reset";
//
// Core
//
@import "../../bower_components/cardinal/base/root";
@import "../../bower_components/cardinal/base/anchors";
@import "../../bower_components/cardinal/base/lists";
@import "../../bower_components/cardinal/base/print";
@import "../../bower_components/cardinal/base/headings";
@import "../../bower_components/cardinal/base/tables";
//
// Components
//
@import "components/Nav";
@import "components/Project";
@import "components/Task";

.NewTask {
  display:       flex;
  align-items:   center;
  border-bottom: 1px solid @grid-border-color;
  font-size:     14px;
}

.NewTask-name {
  flex-grow: 1;
}

.NewTask-name > input {
  width:       100%;
  padding:     0 10px;
  border:      none;
  line-height: 44px;

  &:focus {
    outline: none;
  }
}

.DurationSelect-label {
  line-height: 44px;
  cursor:      pointer;
}

.DurationSelect {
  padding:     0 10px;
  border-left: 1px solid @grid-border-color;
}

.DurationSelect-dropdown {
  position:         absolute;
  right:            0;
  z-index:          1;
  margin-bottom:    0;
  border:           1px solid #e8e8e8;
  border-left:      none;
  border-radius:    7px 0 0 7px;
  list-style:       none;
  background-color: #fff;
  box-shadow:       0 2px 3px rgba(0, 0, 0, 0.3);

  &:before {
    content:       '';
    width:         0;
    height:        0;
    border-left:   10px solid transparent;
    border-right:  10px solid transparent;
    border-bottom: 10px solid #9a9a9a;
    position:      absolute;
    top:           -11px;
    right:         11px;
  }

  &:after {
    content:       '';
    width:         0;
    height:        0;
    border-left:   10px solid transparent;
    border-right:  10px solid transparent;
    border-bottom: 10px solid white;
    position:      absolute;
    top:           -10px;
    right:         11px;
  }
}

.DurationSelect-item {
  margin-left: 0;
  padding:     0 7px;
  font-size:   14px;
  cursor:      pointer;
  white-space: nowrap;

  &:hover {
    background-color: aliceblue;
  }
}

.UserSelect {
  position: relative;
}

.UserSelect-selectedImage {
  height: 44px;
  width:  44px;
  cursor: pointer;
}

.UserSelect-dropdown {
  position:         absolute;
  z-index:          1;
  min-width:        220px;
  margin-bottom:    0;
  border:           1px solid #e8e8e8;
  border-left:      none;
  border-radius:    0 7px 7px 0;
  list-style:       none;
  background-color: #fff;
  box-shadow:       0 2px 3px rgba(0, 0, 0, 0.3);

  &:before {
    content:       '';
    width:         0;
    height:        0;
    border-left:   10px solid transparent;
    border-right:  10px solid transparent;
    border-bottom: 10px solid #9a9a9a;
    position:      absolute;
    top:           -11px;
    left:          11px;
  }

  &:after {
    content:       '';
    width:         0;
    height:        0;
    border-left:   10px solid transparent;
    border-right:  10px solid transparent;
    border-bottom: 10px solid white;
    position:      absolute;
    top:           -10px;
    left:          11px;
  }
}

.UserSelect-agent {
  margin-left: 0;
  padding:     7px;
  font-size:   14px;
  cursor:      pointer;

  &:hover {
    background-color: aliceblue;
  }
}

.UserSelect-agentImage {
  height:         28px;
  width:          28px;
  margin-right:   7px;
  border-radius:  5px;
  vertical-align: middle;
}

//html,
//body {
//  //background-color: @anchor-text-color;
//  overflow: hidden;
//}

a,
.link {
  color:           @anchor-text-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@anchor-text-color: #328ad6;
@grid-border-color: #e0e0e0;
@warning-color: tomato;

.Label {
  font-size: 14px;
  color:     #767676;
}

.Label-loading {
  height: 9px;
}

.warning {
  color: @warning-color;
}

.Timeline {
  display: flex;
}

.Timeline-agent {
  display:        flex;
  flex-direction: column;
  flex-grow:      1;
  border-left:    1px solid @grid-border-color;

  &:first-child {
    border-left: none;
  }
}

.Timeline-agentHeader {
  display:     flex;
  align-items: center;
  padding:     1em;
}

.Timeline-agentPhoto {
  flex-shrink: 1;
  width:       44px;
  height:      44px;
}

.Timeline-agentName {
  font-size:   18px;
  font-weight: 600;
}

.Timeline-agentInfo {
  line-height: 1.2;
  padding:     0 .7em;
}

.Timeline-agentMeta {
  font-size: 15px;
}

.Timeline-day {
  flex-grow: 1;
}

.Timeline-dayHeader {
  display:          flex;
  white-space:      nowrap;
  padding:          .3em 1em;
  border-top:       1px solid @grid-border-color;
  border-bottom:    1px solid @grid-border-color;
  background-color: #f3f3f3;
  font-size:        13px;
  font-weight:      600;
}

.Timeline-dayCapacity {
  flex-grow:  1;
  text-align: right;
}

.Timeline-task {
  display:       flex;
  align-items:   baseline;
  margin:        1em 0.7em;
  padding:       0 0 .8em;
  border-bottom: 1px dashed #c5c5c5;

  &:last-child {
    border-bottom:  none;
    padding-bottom: 0;
  }
}

.Timeline-taskCheck,
.Timeline-taskActions {
  flex-shrink: 1;
}

.Timeline-taskIcon {
  color: #999;
}

.Timeline-taskInfo {
  flex-grow: 1;
  padding:   0 .3em;
}

.Timeline-taskMeta {
  font-size: 14px;
}

//
//.Timeline-agents {
//  display: flex;
//  height:  100%;
//}
//
//.Timeline-agent {
//  display:          flex;
//  flex-direction:   column;
//  background-color: #ebebeb;
//  border-left:      4px solid #fff;
//  border-right:     4px solid #fff;
//
//  &.no-capacity {
//    background-color: #4e4e4e;
//  }
//}
//
//.Timeline-agentHeader {
//  flex-grow: 1;
//}
//
//.Timeline-agentGravatar {
//  background-color: #4e4e4e;
//  color:            #fff;
//  padding:          4px;
//  font-size:        13px;
//}
//
//.Timeline-task {
//  width:            100%;
//  background-color: #6cbcec;
//}

//
//.Timeline {
//  //overflow: hidden;
//}
//
//.Timeline-row {
//  display:       flex;
//  flex-wrap:     nowrap;
//  border-bottom: 1px solid @grid-border-color;
//}
//
//.Timeline-agent {
//  width: 30px;
//}
//
//.Timeline-day {
//  display:     flex;
//  flex-shrink: 0;
//  align-items: center;
//  width:       480px;
//  border-left: 1px solid @grid-border-color;
//}
//
//.Timeline-task {
//  position:         relative;
//  height:           4px;
//  background-color: #6cbcec;
//
//  &.is-start:before,
//  &.is-end:after {
//    content:          '';
//    width:            8px;
//    height:           8px;
//    border-radius:    8px;
//    position:         absolute;
//    top:              -2px;
//    background-color: darken(#6cbcec, 20);
//  }
//
//  &.is-start:before {
//    left: 0;
//  }
//
//  &.is-end:after {
//    right: 0;
//  }
//
//}