<form class="Comment">

  <div class="NewComment-header">
    <div class="NewComment-avatarWrap">
      <img class="NewComment-avatar" ng-src="{{ vm.sender.avatar_url }}">
    </div>
    <div class="NewComment-meta">
      <!-- TODO: Switch between comment and proof? -->
    </div>
  </div>

  <div class="NewComment-body">
    <textarea class="NewComment-textarea" ng-model="vm.comment.body" msd-elastic></textarea>
  </div>

  <div class="NewComment-recipientsWrap">
    <div class="NewComment-addRecipients">
      <user-picker placeholder="Add recipients" selected="vm.recipients" multiple="true"></user-picker>
    </div>
    <div class="NewComment-existingRecipients">
      <ul class="NewComment-recipients">
        <li class="NewComment-recipient" ng-repeat="recipient in vm.recipients" ng-click="vm.remove_recipient(recipient)">{{ recipient.abbreviation }}</li>
      </ul>
    </div>
  </div>

  <div class="Button Button--sm" ngf-select="vm.upload($files)" ng-model="vm.files" ngf-multiple="true" ng-disabled="vm.uploading">{{ vm.uploading ? 'Uploading...' : 'Upload Files' }}</div>

  <button class="Button Button--sm Button--primary" type="button" ng-click="vm.save_comment()" ng-disabled="vm.uploading">Send</button>

  <div class="Comment-attachments Comment-attachments--new" ng-if="vm.attachments.length">
    <span class="Comment-attachment" ng-repeat="attachment in vm.attachments" ng-click="vm.remove_attachment(attachment)">
      <img class="Comment-attachmentThumb" ng-src="{{ attachment.thumb_url }}">
      <span class="Comment-attachmentName">{{ attachment.name }}</span>
    </span>
  </div>



</form>
