<div class="Timeline-agentHeader">
  <img class="Timeline-agentPhoto" ng-src="{{ vm.agent.avatar_url }}">
  <div class="Timeline-agentInfo">
    <div class="Timeline-agentName">{{ vm.agent.name }}</div>
    <div class="Timeline-agentMeta">Current workload: {{ vm.agent.workload }} hours (until {{ vm.agent.available_at | amDateFormat: 'MMM D' }})</div>
  </div>
</div>

<div class="Timeline-day" ng-if="vm.projects.length">
  <div class="Timeline-dayHeader">
    Pending Projects
  </div>
  <div class="Timeline-project" ng-repeat="project in vm.projects">
    <a href="/projects/{{ project.id }}">{{ project.full_name }}</a> / {{ project.status }}
  </div>
</div>

<div class="Timeline-day" ng-repeat="day in vm.timeline_days">
  <div class="Timeline-dayHeader">
    <div class="Timeline-dayHeading">{{ day.day | amDateFormat: 'ddd MMM D' }}</div>
  </div>
  <div class="Timeline-task" ng-repeat="task in day.timeline_tasks">
    <div class="Timeline-taskCheck">
      <i class="icon-check-empty Timeline-taskIcon"></i>
    </div>
    <div class="Timeline-taskInfo">
      <!-- TODO: Jump to task - link the task. Need to link to either event or project task -->
      <div class="Timeline-taskName">{{ task.name }} {{ task.project || task.event ? ' / ' : '' }}
        <a href="/projects/{{ task.project.id }}" ng-if="task.project">{{ task.project.full_name }}</a>
        <a href="/events/{{ task.event.id }}" ng-if="task.event && !task.project">{{ task.event.name }}</a></div>
      <div class="Timeline-taskMeta">{{ task.duration | amDurationFormat : 'minute' }} &middot; Due in {{ task.due_at | amDifference: null : 'days' }} days</div>
    </div>
  </div>
</div>