<span class="Modal-close" ng-click="vm.close()"><i class="icon-cancel"></i></span>

<form class="ProjectSettings" ng-submit="vm.save()">

  <div class="Form-group Form-group--title">
    <label>
      <input class="Form-control Form-control--title" type="text" tabindex="1" placeholder="Project name..." ng-model="vm.project.name" focus-on="true">
    </label>
    <span class="Form-help" ng-show="vm.project.event">Part of {{ vm.project.event.name }}</span>
  </div>

  <div class="Form-group">
    <label>
      <span class="Form-label">Requested by</span>
      <user-picker selected="vm.project.requester" on-change="vm.on_requester_changed(user)" tab-index="1" placeholder="Search..."></user-picker>
    </label>
  </div>

  <div class="Form-group">
    <span class="Form-label">Due date</span>
      <span class="Form-control" pikaday="vm.pikaday_due_at" default-date="{{ vm.project.due_at | amDateFormat }}" min-date="{{ vm.today | amDateFormat }}" on-select="vm.set_due_at(date)" tabindex="1">
        {{ vm.project.due_at ? 'Due on ' : '' }}
        {{ vm.project.due_at ? (vm.project.due_at | amDateFormat: 'ddd, MMM D') : 'Set a due date' }}
      </span>
  </div>

  <div class="Form-group">
    <label>
      <span class="Form-label">Assign to</span>
      <!--<agent-picker css-class="Form-control" tab-index="1" agent="vm.project.agent"></agent-picker>-->
      <user-picker css-class="Form-control" tab-index="1" selected="vm.project.agent" on-change="vm.on_agent_changed(user)" limit-to-agents="true"></user-picker>
    </label>
  </div>

  <div class="Form-group">
    <span class="Form-label">Default Recipients</span>
    <user-multi-picker selected="vm.project.recipients" placeholder="add recipients..."></user-multi-picker>
  </div>

  <div class="Form-group">
    <label class="Form-checkbox">
      <input type="checkbox" tabindex="1" ng-model="vm.project.is_purchase" ng-true-value="1" ng-false-value="0"> Requires a purchase
    </label>
  </div>

  <div class="Form-grid">

    <div class="Form-group" ng-show="vm.project.is_purchase">
      <label>
        <span class="Form-label">Production time (in days)</span>
        <input class="Form-control" tabindex="1" type="text" ng-model="vm.project.production_days">
      </label>
    </div>

  </div>

  <button class="Button Button--primary" type="submit" tabindex="1">Save Project Settings</button>
  <img class="Loading--mini" src="/build/images/loading-white-bg.gif" ng-show="vm.is_saving">

</form>