<project-editor ng-if="vm.is_editing" project="vm.project" on-close="vm.on_editor_closed()"></project-editor>

<div class="Project" ng-if="vm.project">

  <div class="Project-header">
    <div class="Project-thumbColumn" ng-if="vm.project.thumb_url">
      <img class="Project-thumb" ng-src="{{ vm.project.thumb_url }}" ngf-select="vm.upload($files)" ngf-pattern=".jpg,.png" ngf-select="vm.upload($files)">
    </div>
    <div class="Project-titleColumn">
      <span class="Project-title"><a href="/people/{{ vm.project.requester.id }}">{{ vm.project.requester.name }}</a> / <span ng-if="vm.project.event"><a href="/events/{{ vm.project.event.id }}">{{ vm.project.event.name }}</a> / </span>{{ vm.project.name }}</span>
    </div>
    <div class="Project-statusColumn">
      <span class="Project-status" ng-style="{ 'background-color': vm.project.status.color, 'color': vm.project.status.text_color }">{{ vm.project.status.name }}</span>
    </div>
    <div class="Project-datesColumn">
      <span class="Project-due">Due on {{ vm.project.due_at | amDateFormat: 'MMMM D' }}</span>
      <span class="Project-estimatedCompletion" ng-class="{ 'warning': vm.project.is_overdue_likely }">
        <i class="Project-dueWarningIcon icon-exclamation" ng-if="vm.project.is_overdue_likely"></i>
        Estimated delivery: {{ vm.project.estimated_delivery_date | amDateFormat: 'MMMM D' }}</span>
    </div>
    <div class="Project-actionsColumn">
      <i class="Project-action icon-cog" ng-click="vm.open_editor()"></i>
    </div>
  </div>

  <div class="Project-body">

    <div class="Project-sidebar" ng-if="vm.selected_task">
      <task-editor task="vm.selected_task" on-close="vm.on_task_closed()" on-update="vm.on_task_updated()"></task-editor>
    </div>

    <div class="Project-sidebar" ng-hide="vm.selected_task">

      <!--Close Project-->

      <div class="Sidebar-section Sidebar-container" ng-hide="vm.incompleteTasks.length || vm.project.closed_at">
        <span class="link" ngf-select="vm.upload($files)" ngf-pattern=".jpg,.png" ngf-select="vm.upload($files)">Attach mockup</span>
        <button class="Button Button--sm Button--primary" ng-click="vm.close_project()" ng-disabled="vm.uploading_thumb || vm.closing_project">{{ vm.uploading_thumb ? 'Uploading...' : (vm.closing_project ? 'Closing...' : 'Close Project') }}</button>
      </div>

      <div class="Sidebar-section Sidebar-container" ng-show="vm.project.closed_at">
        <button class="Button Button--sm Button--primary" ng-click="vm.reopen_project()">Reopen Project</button>
      </div>

      <!--Notes-->

      <div class="Sidebar-section Sidebar-container Project-notesSection">

        <h2 class="Sidebar-heading">Notes
          <img class="Loading--mini" src="/build/images/loading-white-bg.gif" ng-show="vm.project_notes_saving"></h2>

        <p class="Project-eventNotes">{{ vm.project.event.notes }}</p>
        <!--<span class="link nowrap" ng-click="vm.is_editing_notes = true" ng-hide="vm.project.notes || vm.is_editing_notes">add notes</span>-->
        <p class="Project-notes" ng-hide="vm.is_editing_notes" ng-click="vm.is_editing_notes = true" title="Click to add notes">{{ vm.project.notes || 'Add your project notes...' }}</p>
        <textarea class="Project-textarea" ng-model="vm.project.notes" ng-show="vm.is_editing_notes" focus-on="vm.is_editing_notes" ng-blur="vm.is_editing_notes = false" msd-elastic></textarea>
      </div>

      <!--Tasks-->

      <div class="Sidebar-section Sidebar-container">

        <div class="Sidebar-header">
          <h2 class="Sidebar-heading">Tasks
            <img class="Loading--mini" src="/build/images/loading-white-bg.gif" ng-show="vm.tasks_loading || vm.task_saving">
          </h2>
          <span class="Sidebar-headerAction" ng-click="vm.show_new_task()">add task</span>
        </div>

        <table class="TaskTable">
          <tbody>
            <tr class="TaskTable-row" ng-repeat="task in vm.incompleteTasks = (vm.tasks | filter:vm.incompleteTasksFilter)" ng-click="vm.open_task(task)">
              <td class="TaskTable-cell" ng-click="vm.mark_task_completed(task, $event)">
                <input type="checkbox" ng-model="task.foobar_required_for_ng_change">
              </td>
              <td class="TaskTable-cell TaskTable-name">{{ task.name }}</td>
              <td class="TaskTable-cell">{{ task.agent.abbreviation }}</td>
              <td class="TaskTable-cell">Start {{ task.estimated_start_date | amDateFormat: 'MMMM D' }}</td>
              <td class="TaskTable-cell">{{ task.duration | amDurationFormat : 'minute' }}</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="TaskTable-row TaskTable-row--completed" ng-repeat="task in vm.completedTasks = (vm.tasks | filter:vm.completedTasksFilter)" ng-click="vm.open_task(task)">
              <td class="TaskTable-cell" ng-click="vm.mark_task_completed(task)">
                <input type="checkbox" checked="checked" disabled>
              </td>
              <td class="TaskTable-cell TaskTable-name">{{ task.name }}</td>
              <td class="TaskTable-cell">{{ task.agent.abbreviation }}</td>
              <td class="TaskTable-cell">Completed {{ task.completed_at | amDateFormat: 'MMMM D' }}</td>
              <td class="TaskTable-cell">{{ task.duration | amDurationFormat : 'minute' }}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <!--Comments-->
    <div class="Project-commentsColumn Content-container">
      <div class="Project-comments">
        <new-comment ng-if="vm.project.id" project="vm.project"></new-comment>
        <comments ng-if="vm.project.id" project="vm.project"></comments>
      </div>
    </div>

  </div>
</div>
