
<project-editor ng-if="vm.is_editing" project="vm.project" on-close="vm.on_editor_closed()"></project-editor>

<div class="Project">

  <div class="Project-header">
    <div class="Project-titleColumn">
      <span class="Project-title"><a href="/people/{{ vm.project.requester.id }}">{{ vm.project.requester.name }}</a> / <span ng-if="vm.project.event"><a href="/events/{{ vm.project.event.id }}">{{ vm.project.event.name }}</a> / </span>{{ vm.project.name }}</span>
    </div>
    <div class="Project-statusColumn">
      <span class="Project-status">Waiting on Feedback</span>
    </div>
    <div class="Project-datesColumn">
      <span class="Project-due">Due on {{ vm.project.due_at | amDateFormat: 'MMMM D' }}</span>
      <span class="Project-estimatedCompletion" ng-class="{ 'warning': vm.project.is_overdue_likely }">
        <i class="Project-dueWarningIcon icon-exclamation" ng-if="vm.project.is_overdue_likely"></i>
        Estimated delivery: {{ vm.project.estimated_delivery_date | amDateFormat: 'MMMM D' }}</span>
    </div>
    <div class="Project-actionsColumn">
      <i class="Project-action icon-cog" ng-click="vm.open_editor()"></i>
    </div>
  </div>

  <div class="Project-body">

    <div class="Project-sidebar" ng-if="vm.selected_task">
      <task-detail task="vm.selected_task" on-close="vm.on_task_closed()" on-update="vm.on_task_updated()"></task-detail>
    </div>

    <div class="Project-sidebar" ng-hide="vm.selected_task">

      <div class="Sidebar-section Sidebar-container Project-notesSection">
        <p class="Project-eventNotes">{{ vm.project.event.notes }}</p>
        <span class="link nowrap" ng-click="vm.is_editing_notes = true" ng-hide="vm.project.notes || vm.is_editing_notes">add notes</span>
        <p class="Project-notes" ng-hide="vm.is_editing_notes" ng-click="vm.is_editing_notes = true" title="Click to add notes">{{ vm.project.notes }}</p>
        <textarea class="Project-textarea" ng-model="vm.project.notes" ng-show="vm.is_editing_notes" focus-on="vm.is_editing_notes" ng-blur="vm.is_editing_notes = false" msd-elastic></textarea>
      </div>

      <!--Tasks-->

      <div class="Sidebar-section Sidebar-container">
        <new-task ng-if="vm.project.id" project="vm.project" on-submit="vm.on_task_submitted()" on-success="vm.on_task_added()"></new-task>
      </div>

      <div class="Sidebar-section Sidebar-container">

        <h2 class="Sidebar-heading">Tasks
          <img class="Loading--mini" src="/build/images/loading-white-bg.gif" ng-show="vm.tasks_loading || vm.task_saving">
        </h2>

        <table class="TaskTable">
          <tfoot>
            <tr>
              <td colspan="5" class="TaskTable-completedToggle">
                <span class="link" ng-click="vm.show_completed_tasks = true" ng-hide="vm.show_completed_tasks">show completed tasks</span>
                <span class="link" ng-click="vm.show_completed_tasks = false" ng-show="vm.show_completed_tasks">hide completed tasks</span>
              </td>
            </tr>
          </tfoot>
          <tbody>
            <tr class="TaskTable-row" ng-repeat="task in vm.tasks" ng-click="vm.open_task(task)" ng-hide="task.completed_at">
              <td class="TaskTable-cell" ng-click="vm.mark_task_completed(task, $event)">
                <input type="checkbox" ng-model="task.foobar_required_for_ng_change">
              </td>
              <td class="TaskTable-cell TaskTable-name">{{ task.name }}</td>
              <td class="TaskTable-cell">{{ task.agent.abbreviation }}</td>
              <td class="TaskTable-cell">Start {{ task.estimated_start_date | amDateFormat: 'MMMM D' }}</td>
              <td class="TaskTable-cell">{{ task.duration | amDurationFormat : 'minute' }}</td>
            </tr>
          </tbody>
          <tbody ng-if="vm.show_completed_tasks">
            <tr class="TaskTable-row TaskTable-row--completed" ng-repeat="task in vm.tasks" ng-click="vm.open_task(task)" ng-show="task.completed_at">
              <td class="TaskTable-cell" ng-click="vm.mark_task_completed(task)">
                <input type="checkbox" checked="checked" disabled>
              </td>
              <td class="TaskTable-cell TaskTable-name">{{ task.name }}</td>
              <td class="TaskTable-cell">{{ task.agent.abbreviation }}</td>
              <td class="TaskTable-cell">Completed {{ task.completed_at | amDateFormat: 'MMMM D' }}</td>
              <td class="TaskTable-cell">{{ task.duration | amDurationFormat : 'minute' }}</td>
            </tr>
          </tbody>
        </table>

      </div>

      <!--TODO: Put default recipients in a project settings modal-->
      <!--<div class="Project-entry">-->
      <!--<div class="Label">Default Recipients</div>-->
      <!--<user-picker selected="vm.project.recipients" on-change="vm.save_recipients()"></user-picker>-->
      <!--<ul>-->
      <!--<li ng-repeat="recipient in vm.project.recipients">{{ recipient.name }} <i class="icon-cancel" ng-click="vm.remove_recipient(recipient)"></i></li>-->
      <!--</ul>-->
      <!--</div>-->

    </div>

    <!--Comments-->
    <div class="Project-commentsColumn Content-container">
      <div class="Project-comments">
        <new-comment ng-if="vm.project.id" project="vm.project"></new-comment>
        <comments ng-if="vm.project.id" project="vm.project"></comments>
      </div>
    </div>

  </div>
</div>
